<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Welcome"
        tools:targetApi="31">
        <activity
            android:name=".NetworkingApiWithExample"
            android:exported="false" />
        <activity
            android:name=".ImageViewLab_20"
            android:exported="false" />
        <activity
            android:name=".WebViewLab_14"
            android:exported="false" />
        <activity
            android:name=".DatePickerLab_19"
            android:exported="false" />
        <activity
            android:name=".TimePickerLab_18"
            android:exported="false" />
        <activity
            android:name=".AlertDialogLab_17"
            android:exported="false" />
        <activity
            android:name=".RatingBarLab_16"
            android:exported="false" />
        <activity
            android:name=".SeekBarLab_15"
            android:exported="false" />
        <activity
            android:name=".ListViewLab_10"
            android:exported="false" />
        <activity
            android:name=".RadioButtonLab_11"
            android:exported="false" />
        <activity
            android:name=".CheckBoxLab_13"
            android:exported="false" />
        <activity
            android:name=".CheckBoxLab_12"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>